<!DOCTYPE html>
<!--Source code -->
<!-- Style to put some height on the map -->
<style type="text/css">
    #map-canvas { height: 500px; width:500px; };
</style>

<!-- Load the Google Maps aPI -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcQAHT4XVykTjgTS08tvauL1hx17UxDac&sensor=false"></script>

	<h1> Welcome to Route Master </h1>

<!-- All of the script for multiple requests -->
<script type="text/javascript">
    //Populate items from python
    var python_dump = {{route_data|safe}};

    // Initialise some variables
    var directionsService = new google.maps.DirectionsService();
    var num, map, data;
    var requestArray = [], renderArray = [];

    // A JSON Array containing some people/routes and the destinations/stops
    var jsonArray = {};
    var iterator = 0;
    var depot_list = [];

    for (var i = 0; i < python_dump.length; i++) {
      var route = python_dump[i]
      var the_depot = python_dump[i][0];
      if(depot_list.includes(the_depot) === false){
        depot_list.push(the_depot);
      }
      var route_num = "route " + i.toString();
      jsonArray[route_num] = route;
    }

/*
    var jsonArray = {
	  "Deborah Del Colliano" : python_dump[0],
  	"Cara Klonoski": python_dump[1]
        //"Person 1": ["Torquay", "Teignmouth", "Dawlish", "Exeter","Chagford","St Austell","Bath","Brighton"],
        //"Person 2": ["Tysons","Bethesda"],
        //"Person 3": ["Exmouth", "Sidmouth","Brighton"]//, "Taunton"]  //, "Crediton", "Okehampton"],
        //"Person 3": ["Penzance", "Truro", "Bodmin", "Falmouth"]
    }
    console.log(jsonArray);
    */
    // 16 Standard Colours for navigation polylines
    var colourArray = ['navy', 'lime', 'fuchsia', 'black', 'teal','grey', 'maroon', 'purple', 'aqua', 'red', 'green', 'silver', 'olive', 'blue','white','yellow'];

    // Let's make an array of requests which will become individual polylines on the map.
    function generateRequests(){

        requestArray = [];

        for (var route in jsonArray){
            // This now deals with one of the people / routes

            // Somewhere to store the wayoints
            var waypts = [];

            // 'start' and 'finish' will be the routes origin and destination
            var start, finish

            // lastpoint is used to ensure that duplicate waypoints are stripped
            var lastpoint

            data = jsonArray[route]

            limit = data.length
            for (var waypoint = 0; waypoint < limit; waypoint++) {
                if (data[waypoint] === lastpoint){
                    // Duplicate of of the last waypoint - don't bother
                    continue;
                }

                // Prepare the lastpoint for the next loop
                lastpoint = data[waypoint]

                //transform way points into lat long
                var way = data[waypoint];
                var way_res = way.split(",");
                var way_lat = way_res[0].replace("(","");
                var way_lon = way_res[1].replace(")","");

                var way_point = new google.maps.LatLng(way_lat, way_lon);

                // Add this to waypoint to the array for making the request
                waypts.push({
                    location: way_point,
                    stopover: true
                });
            }

            // Grab the first waypoint for the 'start' location
            start = (waypts.shift()).location;

            // Grab the last waypoint for use as a 'finish' location
            finish = waypts.pop();
            if(finish === undefined){

                // Unless there was no finish location for some reason?
                finish = start;
            } else {
                finish = finish.location;
            }

            // Let's create the Google Maps request object
/*
            var first_res = start.split(",");
            var first_lat = first_res[0].replace("(","");
            var first_lon = first_res[1].replace(")","");

            var last_res = finish.split(",");
            var last_lat = last_res[0].replace("(","");
            var last_lon = last_res[1].replace(")","");

            var first = new google.maps.LatLng(first_lat, first_lon);
            var last = new google.maps.LatLng(last_lat, last_lon);
*/
            var request = {
                origin: start,
                destination: finish,
                waypoints: waypts,
                travelMode: google.maps.TravelMode.DRIVING
            };

            //make a new marker
            for (var i = 0; i < depot_list.length; i++) {
              var depot_mark = depot_list[i];
              var depot_res = depot_mark.split(",");
              var depot_lat = depot_res[0].replace("(","");
              var depot_lon = depot_res[1].replace(")","");

              var depot_loc = new google.maps.LatLng(depot_lat, depot_lon);

              var marker = new google.maps.Marker({
                  position:depot_loc,
                  map:map
              })
              var infoWindow = new google.maps.InfoWindow({
                content:'The Depot'
              })

              marker.addListener('click',function(){
                infoWindow.open(map,marker)
              })

            }

            //marker_maker({lat:50.677965, lng:-3.768841})
            //{lat:50.677965, lng:-3.768841}
            //marker_maker(start)
            //make a marker function
            function marker_maker(coords){
              var marker = new google.maps.Marker({
                  position:coords,
                  map:map,
                  icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
              })
            }

            // and save it in our requestArray
            requestArray.push({"route": route, "request": request});
        }

        processRequests();
    }

    function processRequests(){

        // Counter to track request submission and process one at a time;
        var i = 0;

        // Used to submit the request 'i'
        function submitRequest(){
            directionsService.route(requestArray[i].request, directionResults);
        }

        // Used as callback for the above request for current 'i'
        function directionResults(result, status) {
            if (status == google.maps.DirectionsStatus.OK) {

                // Create a unique DirectionsRenderer 'i'
                renderArray[i] = new google.maps.DirectionsRenderer();
                renderArray[i].setMap(map);

                // Some unique options from the colorArray so we can see the routes
                renderArray[i].setOptions({
                    preserveViewport: true,
                    suppressInfoWindows: true,
                    polylineOptions: {
                        strokeWeight: 4,
                        strokeOpacity: 0.8,
                        strokeColor: colourArray[i]
                    },
                    markerOptions:{
                        icon:{
                            path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW, //google.maps.SymbolPath.CIRCLE,  //google.maps.SymbolPath.BACKWARD_CLOSED_ARROW, //BACKWARD_CLOSED_ARROW,
                            scale: 3,                            //https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png
                            strokeColor: colourArray[i]         //CIRCLE
                        }
                    }
                });

                // Use this new renderer with the result
                renderArray[i].setDirections(result);
                // and start the next request
                nextRequest();
            }

        }

        function nextRequest(){
            // Increase the counter
            i++;
            // Make sure we are still waiting for a request
            if(i >= requestArray.length){
                // No more to do
                return;
            }
            // Submit another request
            submitRequest();
        }

        // This request is just to kick start the whole process
        submitRequest();
    }

    // Called Onload
    function init() {

        // Some basic map setup (from the API docs)
        var mapOptions = {
            center: new google.maps.LatLng(38.8191,-77.043), //,LatLng(50.677965, -3.768841)
            zoom: 11,
            mapTypeControl: false,
            streetViewControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        // Start the request making
        generateRequests()
    }

    // Get the ball rolling and trigger our init() on 'load'
    google.maps.event.addDomListener(window, 'load', init);
</script>

<!-- Somewhere in the DOM for the map to be rendered -->
<div id="map-canvas"></div>


<style>
#routes {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#routes td, #routes th {
    border: 1px solid #ddd;
    padding: 8px;
}

#routes tr:nth-child(even){background-color: #f2f2f2;}

#routes tr:hover {background-color: #ddd;}

#routes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>


<h2> Optimal Route Schedule </h2>



<table id=routes> 
<tr>
	<th> Sitter Name </th>
	<th colspan="11"> Routes      </th>
</tr>
  {% for sitter in sitter_routes %}

	<tr>
		<td>{{ sitter }} </td>
	{% set testing = 0 %}
	{% for route in sitter_routes[sitter] %}
		<td> {{ route }} </td>
	{% endfor %}
	
	{% if sitter_routes[sitter]|length <= 11 %}
	{% for i in range(11-sitter_routes[sitter]|length) %}
		<td></td>
	{% endfor %}
	{% endif %}
	</tr>

  {% endfor %}

</table>


